

body {
    font-size:20px;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}


header img{
height: 150px;

}


.main {
   padding-top:30px;
 margin-left:auto;
     margin-right:auto;
    max-width:1200px;
 
}


/*  Title styling */
.logotitle{
    margin-left:15px;
font-size: 50;
    font-family: 'Mrs Sheppards', cursive;
    
}

.titlelist li {
   float:left;
    list-style-type: none;
    display:inline-block;
    
}

.titlelist img{
margin-top:4px;
height: 50px;

}
/*NAVIGATION*/
.nav{

    background-color:#F4CB01;
    text-decoration-color: #006680;
    font-size: 25px;
    width:100%;

}


.nav ul{
    color: #000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position:relative;
    
}
.nav ul li{
    margin-right:20px;
   text-align: right;
    display:inline-block;
}
.nav #rightside{
text-align: right;
}


.nav ul li:hover{
    background-color: #fedd33;
}

.nav ul li a{
    color: #000;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.nav ul li a:visited{
    color: #fff;
    display: block;
    text-decoration: none;
}

 .nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.nav ul li:hover ul{
    background-color: #fedd33;
    display:block;
}


.nav ul ul{
    width:107px;
    display: none;
    position: absolute;
    background-color: #fee76f;
 
}

.nav ul ul li{
    Display:block;
    text-align: center;

    
}

.nav ul ul li a:hover{
 background-color: #fedd33;
    text-decoration: underline;
    
}




/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/




.intro {
    
    margin:0 auto;
    padding: 0px;
    border-width:0px;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type=submit] {
    text-align:center;
    margin:0 auto;
    width: 400px;
    background-color: #4CAF50;
    color: white;
    font-size:16px;
    padding: 14px 20px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}







