.settingsmenu {
   margin:0 auto;
    text-align:center;
    
}
.settingsmenu li {
    float:left;
list-style-type:none;
width:30%;
margin:10;


}
h3{
text-align: left;
}

.changes form{
margin-left:25%;
}
.settingsmenu button {
  text-align:center;
    margin:10px;
    width: 100%;
    color: white;
    font-size:16px;
    padding: 14px 20px;
    border: none;
    height:45px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #47BEBD;
    -webkit-box-shadow: 7px 6px 30px 1px rgba(235,230,235,1);
-moz-box-shadow: 7px 6px 30px 1px rgba(235,230,235,1);
box-shadow: 7px 6px 30px 1px rgba(235,230,235,1);
    cursor:pointer;
    
}


.settingsmenu button:hover {
      background-color:#97e5e4;
-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; 
    
}
#selected1{
    background-color:lightgrey;
    
}

#selected3{
    color:white;
    background-color:#cc2424;
    
}

.selections {
 font-size:17px;   
max-width:500px;  
}
#optionradio{
   width:300px; 
}


#personal, #volunteer{
    margin:0 auto;
    padding:50px;
    border:5px lightgrey solid;
    height:500px;
    max-width:550px;
    clear:both;
    text-align:left;

}
table td {
width:500px;
    height:60px;
    
}
table th {
    text-align:left;
    width:200px;
    
}

input[type=password]{
    width: 70%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}


.userprofile table{
  margin-left:25%;  
}

#deletered{
    width:200px;
    background-color:#cc2424;
}
input[type=submit] {
margin-left:
}