
.opportunitypage {
     font-type:sans-serif;
    margin: 0 auto;
    max-width:600px;
    text-align: justify;
    font-size: 20px;
	padding-bottom:300px;
}
h3 {
     font-family:sans-serif;
    text-align:left;
    line-height:40px;
    border-bottom:2px solid #cccccc;
    color:black;
    font-size:25px;
    font-weight:600;
    border-bottom:5px solid #DA1B3A 50%;
}

h2 {
    padding-top:150px;
    font-family:sans-serif;
    text-align:center;
    color:black;
    font-size:55px;
}

footer {
    height: 100px;
    background-color:#ccc;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#buttoncontact{
 text-align:center;
    margin:20px auto;
    margin-left: 20%;
    width: 400px;
    background-color: #4CAF50;
    color: white;
    font-size:16px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}



.searchBackground {
    background-image: url("../images/womanhappy.jpg");
    background-size: cover;
    height: 1000px;
    background-repeat: no-repeat;
}

@media screen and (max-width:960px){

    main{
    padding-left:35px;
        padding-right:35px;
    }
    
    h2{
    font-size:2em;
    
    }
    
    
    h3{
    font-size: 1em;
    }
#buttoncontact{
 text-align:center;
    margin:20px auto;
  margin-left:15%;
    width: 200px;
    background-color: #4CAF50;
    color: white;
    font-size:16px;

  
 
 

}

}
