h2 {
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;   
    font-size:50px;
}

table{
    margin:0 auto;
    padding-left: 10%;
    padding-bottom: 0px;
}

th {
   font-size: 25px;
    font-family: sans-serif;
}

tr, td {
    object-position: center;
}

table textarea, text{
    width: 400px;
    padding: 22px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

table{
    margin:0 auto;
    padding-left: 10%;   
}

th, td {
    padding-bottom: 25px;
    text-align: left;
}

span {
  font-size: 14px;  
  font-weight:400;
  color: #bfbfbf;
}

.postForm {
    padding-top: 60px;
    text-align: center;
    margin: 0 auto;
}

input[type=submit] {
    margin-top: 50px;
    margin-bottom:100px;
}

input[type=submit]:hover {
    background-color: #45a049; 
}

input[type=text] {
    width:90%;   
}

input, textarea {
    font-size: 14px;   
    width:400px;
}

.star {
  color: red;
  font-size: 20px; 
}

.logofont{
margin-left:15px;
    font-family: 'Mrs Sheppards', cursive;
    font-size: 50px;
    color: black;

}

/* Error Styling for Validation on post opportunity form*/

#titlev, #titlelv, #descriptionv, #addressv, #addressv2, #keywordsv, #keywordsv2   {
    border:0px;
    color:red;
    font-weight: 600;
    width:300px;
    padding:0px;
    height:50px;
    line-height:10px;
}

 #titlenv {
    border:0px;
    color:red;
    font-weight: 600;
    width:220px;
    padding:0px;
    height:50px;
    line-height:10px;
 }
