body{
    font-size:16px;
    margin:0;
    padding:0;
    font-family:sans-serif;  
}

#container{
   width:95%;
    padding-right:60px;
}

#leftSplit{ 
  position: absolute;
  left: 0px;
  width: 70%;  
}

#leftSplit p {
    font-size:22px;
    line-height:35px;
     padding:60px;
}
.charitylog{
    padding:5px;
    float:right;
    
}
.charitylog a{
   color:black; 
    font-weight:800;
}

.confirmreg{
    border-radius:20px;
    transition: visibility 0s 2s, opacity 2s linear;  
}

#rightSplit, #rightSplitC {
   background-color: #F4CB01;
    border-left:10px solid #F4CB01;
  position: fixed;
  right: 0px;
  width: 30%;
  height:100%;
    color:black;
}


.verticalCenter{
  margin-top:45%;  
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:20px; 
}

.register {
 background-color:white;
    border:none;
    border-radius:4px;
    max-width:200px;
    font-size:16px;
    color:#3b3d3f;
    height:40px;  
}

h1 { 
    
    font-weight: 100;
   font-family: 'Mrs Sheppards', cursive;
       font-size: 25vmin;
   color: white;
   letter-spacing:5px;
    margin-top:-0px;
    margin-bottom:0px;
    text-align: center;
    padding-bottom: 300px;
}

h1 span {
        font-size: 30vmin;
    margin-top:100px;
}

h2 {
   font-family: 'Oswald', sans-serif;
   font-size: 70px;
   color: #000;
   letter-spacing:5px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:60px;
}


label {
    float:left;
    width:auto;
    margin:10px;
    background-color:#EFEFEF;
    border-radius:4px;
    overflow:auto;
       
}
#loginform ul li{
    display:block;
    list-style-type:none;
    
    
}

label span {
    text-align:center;
    font-size: 16px;
    padding:15px;
    display:block;
}

label input {
    position:absolute;
    top:-20px;
}
input[type="checkbox"] + span {
 color:black;

}

input:checked + span {
    background-color:#404040;
    color:white;
	 font-size:20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    
	  min-width:400px;
    max-width:500px;
    padding: 12px 20px;
    margin: 8px 0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color:#F4CB01;
    color:black;
    font-size:16px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}

/* Set a style for all buttons */
button {
    border: none;
    cursor: pointer;
	  width:300px;
}
input[type=submit] {
     
    background-color:#3b3d3f;
    border:none;
    border-radius:4px;
    width:300px;
    font-size:16px;
    margin-top:20px;
    color:white;
    height:40px;
	margin-bottom:20px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
 
}

#loginform a {
    text-decoration:none;
    font-weight:800;
    font-size:18px;
    line-height:50px;
    color:black;
    
}
.gray:hover {
	background: #757575;
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.errormsg{
    color:red;
    
}
header {

    background-image:url('../images/BGimage.png');
    background-position: center;
    background-size: 100vh;
    background-repeat: no-repeat; 
    background-size:cover;
    height: 100vh;

}



#loginform{
  text-align:center;
    margin:0 auto;
    max-width:500px;
}
    
#trackSection {
    padding-top:250px;
    padding-right:30px;
    padding-left:10px;
    height: 100vh;
}

#trackSection p {
     max-width:800px;
    float:right;
}

#opportunitySection {
    padding-top:250px;
    padding-right:30px;
    padding-left:10px;
    height: 100vh;
}

#opportunitySection p {
    max-width:800px;
    float:left;
}

#rewardSection {
      padding-top:250px;
    padding-right:30px;
    padding-left:10px;
    height: 100vh;
}

.arrow {
      padding-top:70px;
      text-align: center; 
}

.fa {
    font-size:50px; 
    color: #000;
    display: inline-block;
    text-align: center;
}

#womanOpportunity {
    float:right;
}

#womanTrack {
    float:left;
}

table{
    text-align:center;
    margin:0 auto;
    
}
#hideform{
    text-align:center;
    margin:0 auto;
}


/****MEDIA QUERY******/




@media only screen  and (max-width : 1440px)  {
    input[type=text], input[type=password] {
      min-width:300px;  
      margin-right:50px;
    }
    
    
#usernamev, #usernamev2, #emailv, #emailv2, #fnv, #passwordv, #pv2, #bv, #rv, #rv2, #uv, #uv2, #ev, #pv {
    font-weight: 200;
    line-height:0px;
    font-size: 10px;
    margin:-5px;
    margin-left:5px;
 }
    
input[type=submit] {
    width:280px;
     margin-right:20px;
}
    
.verticalCenter {
    margin-top:50px;
}
 
#womanOpportunity {
    float:none;
    margin-left:65px;
}
    

#womanTrack {
    float:none;
    margin-left:65px;
}
    
#rewardIcons img {
    width:260px;
    height:200px;
    display:inline;
    margin-left:10px;
}
    
h2 {
   font-family: 'Oswald', sans-serif;
   font-size: 50px;
   color: #000;
   letter-spacing:5px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:60px;
}

        
}

@media only screen and (max-width: 960px) {
header {
   padding-right:0%;
    padding:0px;
    height:620px;
}
    


header h1{
    padding-top:55%;
    font-size:25vmin;
}
 
#container{
   width:100%;
   padding-right:60px;
}
          
#rightSplit {
  position:absolute;
  width: 100%;
  margin-top:3700px;
 height: 120vh;
}
    
    
#rightSplitC {
    position:absolute;
  width: 100%;
  margin-top:4110px;
 height: 140vh;
    
}
    
#womanTrack img {
    height:250px;
     width:100%;
    float:left;
}

#womanOpportunity img {
    height:250px;
    width:100%; 
    float:left;
}
    
#womanOpportunity{
     float:left;
    }
  
#leftSplit {
    width:100%;
}
    
    
#leftSplit p {
  padding:0px; 
  font-size:18px;
    float:none;
}
    
#trackSection {
  padding-top:100px;
}
    
.arrow {
     padding-top:30px;  
    }
    
h2 {
   font-size:35px;
    padding-top:100px;
    padding-bottom:60px;
    margin:0px;
}
    
input[type=text], input[type=password] {
      min-width:0px;  
      margin-right:20px;
    }
    
input[type=submit] {
    width:280px;
     margin-right:20px;
}
    
    body{
     padding:0px;
    margin:0px;
    }
    
    #rewardIcons img{
        width:350px;
        height:310px;
    }
    
    #loginform {
     margin-right:30px;  
    margin-left:30px; 
    }


}




#usernamev, #usernamev2, #emailv, #emailv2, #fnv, #passwordv, #pv2, #bv, #rv, #rv2, #uv, #uv2, #ev, #pv {
    border:0px;
    color:red;
    font-weight: 400;
    padding:0px;
    line-height:10px;
    font-size: 14px;
 }

#errorred{
    color:red;
}

#trackSection p {
     max-width:800px;
}
