body {
    width: 100%;
    margin:auto 0;
}

main p {
    margin: 0 auto;
    text-align: justify;
    font-size: 20px;
}

header {
    margin:0 auto;
}

main {
    margin:0 auto;
     max-width: 900px;
}

footer {
    margin-top:100px;
    background-color: #d15557;
    height:100px;
}

h1 { 
   font-family: 'Oswald', sans-serif;
   font-size: 90px;
   color: #4c4c4c;
   letter-spacing:5px;
   text-align: center;
   width:100%;
   margin-top:150px;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: left;
    color: #4c4c4c;
    padding-top: 30px;
    margin-top: 0px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #4c4c4c;
    padding-top: 30px;
    margin-top: 0px;
}

#contactButton {
    position: center;
    padding-left: 250px;
    padding-right:250px;
    padding-top:70px;
}

button {
    width:350px;
    padding:20px;
    background-color: #efe173;
    border:0px;
    border-radius: 4px;
}

#contact a {
    font-family: 'Oswald', sans-serif;
    font-size: 25px; 
    letter-spacing: 2;
    color:#000;
    text-decoration: none; 
}




